{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title> Recreo </title>
</head>
<body>
    <headers>
        <h1>
            Welcome to the Recreo Project.
        </h1>
    </headers>
    <main>
        <p> 
            This app is the future of helping you get outside
            and experience all the activities the world has to offer, whether thats making new friends
            playing pickleball or going on a nice solo hike, Recreo can help you find whatever
            suits you best.
        </p>
    </main>
    <footer>
        <p> 
            Created by Team 5 - 10/6/25 
        </p>
    </footer>
</body>
</html>
